<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% if user.is_authenticated %}
    Зарегистрирован как {{  user.username }}

    <form action="{% url 'logoutuser' %}" method="POST">
      {% csrf_token %}
      <button type = "submit">Выйти</button>
    </form>


  {% else %}
    <a href="{% url 'signupuser' %}">Регистрация</a>
    <a href="{% url 'loginuser' %}">Логин</a>
  {% endif %}
  <br>


  {% block content %} {% endblock %}
</body>
</html>