{% extends 'todo/base.html' %}

{% block title %} Выполненные задачи {% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="text-center">
            {% if todos %}
                {% load users_extras %}
                    <h2>Выполнено {{ todos.count }} {{ todos.count|ru_pluralize:"задача,задачи,задач"  }} </h2>
            {% else %}
                <h2>Выполненные задачи отсутствуют</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
          {% for todo in todos %}
            <a href="{% url 'viewtodo' todo.id %}">
              {% if todo.important %} <b> {% endif %}
                {{ todo.title }}
              {% if todo.important %} </b> {% endif %}
              {% if todo.description %} - {{ todo.description }} {% endif %}

              {{ todo.date_completed|date:'(d.m.Y H:i)' }}
            </a>
         {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
