<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выполненные задачи</title>
</head>
<body>
  {% extends 'todo/base.html' %}
  {% block content %}
  <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h2>Выполненные задачи</h2>
        </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
          {% for todo in todos %}
            <a href="{% url 'viewtodo' todo.id %}">
              {% if todo.important %} <b> {% endif %}
                {{ todo.title }}
              {% if todo.important %} </b> {% endif %}
              {% if todo.description %} - {{ todo.description }} {% endif %}

              {{ todo.date_deadline|date:'(d.m.Y H:i)' }}
            </a>
         {% endfor %}
        </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>