<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выполненные задачи</title>
</head>
<body>
  {% extends 'todo/base.html' %}
  {% block content %}
    Выполненные задачи
    <ul>
      {% for todo in todos %}
        <li>
            <a href="{% url 'viewtodo' todo.id %}">
              {% if todo.important %} <b> {% endif %}
                {{ todo.title }}
              {% if todo.important %} </b> {% endif %}
              {% if todo.description %} - {{ todo.description }} {% endif %}

              {{ todo.date_deadline|date:'(d.m.Y H:i)' }}
            </a>
        </li>
     {% endfor %}
    </ul>
  {% endblock %}
</body>
</html>