<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Авторизация</title>
</head>
<body>
  {% extends 'todo/base.html' %}
  {% block content %}
    <div class="row justify-content-center mt-5 text-center">
        <div class="col-md-5">
            <h2>Авторизация</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-group">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="text-center">
                    <button type = "submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                Нет аккаунта? <a href="{% url 'signupuser' %}">Создать</a>
            </div>
        </div>
    </div>
  {% endblock %}
</body>
</html>