<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Регистрация</title>
</head>
<body>
  {% extends 'todo/base.html' %}
  {% block content %}
    <div class="row justify-content-center mt-5 text-center">
        <div class="col-md-5">
            <h2>Регистрация</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Имя пользователя должно быть уникальным</small>
                </div>
                <div class="form-group">
                    <label for="password1">Пароль</label>
                    <input type="password" name="password1" class="form-control" id="password1">
                </div>
                <div class="form-group">
                    <label for="password2">Подтвердите пароль</label>
                    <input type="password" name="password2" class="form-control" id="password2">
                </div>
                <div class="text-center">
                    <button type = "submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                Уже есть аккаунт? <a href="{% url 'loginuser' %}">Войти</a>
            </div>
        </div>
    </div>
  {% endblock %}
</body>
</html>